<div class="col-md-10">
	<div class="row nav-div">
	   <h3 class="heading-class" style="margin-bottom: 5px;">Reports</h3>
	</div>
<div class="row nav-div" style="background-color:#6E6E6E; font-face:verdana; font-size:20px">
<span style="text-align:center">Daily Basic Attendence Report</span>
</div>
<div class="row main-container" style="margin-left:5px; margin-top:10px; margin-right:0px; padding-top:20px; padding-bottom:20px;">
  <form id="daily_report" action="/reports/daily" method="post">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-4 form-inline" style="text-align:center" >
				<label for="college">College: </label>
				<select class="form-control" style="width: 150px" name="college_name" id="college_select" required >
					<option value="0">Select college</option>
					<option value="2">Krishna college</option>
					<option value="6">Govt.Womens College</option>
				</select>
			</div>

			<div class="col-md-4 form-inline" style="text-align:center" >
				<label for="category">Category: </label>
				<select class="form-control" style="width: 150px" name="cat_name" id="category_select" disabled>
					<option value>select category</option>
					<option value="3">Staff</option>
					<option value="2">students</option>
				</select>
			</div>

			<div class="col-md-4 form-inline" style="text-align:center">
				<label for="course">Course: </label>
				<select class="form-control" style="width: 150px" name="course_name" id="course_select" disabled>
				</select>
			</div>	
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-4 form-inline" style="text-align:center">
				<label for="status">Status: </label>
				<select class="form-control" style="width: 150px" name="status_name" id="status_select" disabled>
					
					<option value="1">All</option>
					<option value="P">Present</option>
					<option value="A">Absent</option>
					<option value="0">Latecomers</option>
				</select>
			</div>
			<div class="col-md-4 form-inline" style="text-align:center">
			  <span>
				<label for="date">date:</label>
				<input type="text" style="width: 150px;border-radius: 2px;" id="datepicker" name="date" placeholder="mm/dd/yyyy">
				</span>
			</div>
			<div class="col-md-4 form-inline" style="text-align:center">
				<button type="submit" class="btn btn-warning" id="daily_submit">Run Report</button>
			</div>
		</div>
	</div>
  </form>
</div>
{{#if data}}
<div class="row main-container" style="margin-left:5px; margin-top:10px; margin-right:0px; padding-top:20px; padding-bottom:20px;">
	<div class="row"><center>
	  <div class="col-md-12">
		 <span style="font-weight:bold;font-size: 25px;" id="col_name">{{CompanyFName}}</span>
	  </div>
	  <div class="col-md-12">
		 <span style="font-weight:bold">Daily Basic Attendence Report</span>
	  </div></center>
	  <div class="col-md-4 col-md-offset-7">
		 <span style="font-size: 13px;">Generated On: {{reportTime}}</span>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-10 col-md-offset-1">
		<table class="table table-hover" id="example" style="border-width:1px; border-style:solid;">
		   <thead> 
			 <tr>
			   <th style="text-align:left;" colspan="9">Report Date :  <span style="font-weight:normal;">{{date}}</span></th><tr>
			   <tr><th style="text-align:left" colspan="9">Category  : <span style="font-weight:normal;">{{CategoryName}}</span></th></tr>
			    <tr><th style="text-align:left" colspan="9">Course  :  <span style="font-weight:normal;">{{DepartmentFName}}</span></th></tr>
			<tr>
				 <th style="text-align:center">S.No</th>
				 <th style="text-align:center">Code</th>
				 <th style="text-align:center">Name</th>
				 <th style="text-align:center">In Time</th>
				 <th style="text-align:center">Out Time</th>
				 <th style="text-align:center">Punch Records</th>
				 <th style="text-align:center">Time Duration</th>
				 <th style="text-align:center">Status</th>
				 <th style="text-align:center">Remarks</th>
			 </tr>
		   </thead>
			
			{{#each data}}
			<tr>
				<td style="text-align:center">{{sno}}</td>
				<td style="text-align:center">{{Employeecode}}</td>
				<td style="text-align:center">{{EmployeeName}}</td>
				<td style="text-align:center">{{InTime}}</td>
				<td style="text-align:center">{{OutTime}}</td>
				<td style="text-align:center">{{PunchRecords}}</td>
				<td style="text-align:center">{{Duration}}</td>
				<td style="text-align:center">{{Status}}</td>
				<td style="text-align:center">{{Remarks}}</td>
			</tr>
			{{/each}}
		</table>
	  </div>
	</div>
</div>
{{else}}
<center><h5 style="color:#848484;padding-top: 135px;">{{text}}</h5></center>
{{/if}}	
</div>