<div class="col-md-10">
    <div class="row nav-div">
        <div class="col-md-8">
        <h3 class="heading-class" style="margin-bottom: 5px;">Dashboard
                <small>Attendance System</small>
        </h3></div>
        <div class="col-md-4" style="padding-top: 25px; padding-left: 130px;"><i class="fa fa-calendar fa-1.5x" style="color:#14B9D6;font-size:24px"></i><span style="padding-left:10px;color:#14B9D6;font-size:15px">{{weekday}}&nbsp&nbsp{{todayDate}}</span></div>
    </div>
        <div class="row staff-container">
            <div class="col-md-6">
                <div class="col-md-6 module-layout">
                    <div class="staff-module">
                        <div class="staff-module--header">{{totalStaff}}</div>
                        <div class="staff-module--title">Staff<img src="/images/staff.png"></div>
                    </div>
                </div>
                <div class="col-md-6 module-layout">
                    <div class="module">
                        <div class="module--1">
                            <div class="number">{{presentedstaff}}</div>
                            <div class="title">Presented Staff</div>
                        </div>
                        <div class="module--2">
                            <div class="number">{{absentedstaff}}</div>
                            <div class="title">Absented Staff</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6 module-layout">
                    <div class="student-module">
                        <div class="staff-module--header">{{total_students}}</div>
                        <div class="staff-module--title">Students<img src="/images/students.png"></div>
                    </div>
                </div>
                <div class="col-md-6 module-layout">
                    <div class="module">
                        <div class="module--1">
                            <div class="number">{{presented_students}}</div>
                            <div class="title">Presented Students</div>
                        </div>
                        <div class="module--2">
                            <div class="number">{{absented_students}}</div>
                            <div class="title">Absented Students</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row staff-container">
            <div class="col-md-6">
                <div class="col-md-12 module-layout">
                    <h4 class="heading-class"> Krishna Jr College Staff</h4>

                    <div id="krishnastaff" style="min-height:200px;margin-top:30px;"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 module-layout">
                    <h4 class="heading-class">Krishna Jr College Students</h4>

                    <div id="krishnastudents" style="min-height:200px;margin-top:30px;"></div>
                </div>
            </div>
        </div>
        <div class="row staff-container">
            <div class="col-md-6">
                <div class="col-md-12 module-layout">
                    <h4 class="heading-class">Krishna Jr College Staff Statistics</h4>

                    <div id="KrishnaCollegestaffpie" style="min-height:300px;margin-top:0px;"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 module-layout">
                    <h4 class="heading-class">Krishna Jr College Students Statistics</h4>

                    <div id="KrishnaCollegestudentspie" style="min-height:300px;margin-top:0px;"></div>
                </div>
            </div>
        </div>
        <div class="row staff-container">
            <div class="col-md-6">
                <div class="col-md-12 module-layout">
                    <h4 class="heading-class">Govt Womens College Vizag Staff</h4>

                    <div id="womenstaff" style="min-height:200px;margin-top:30px;"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 module-layout">
                    <h4 class="heading-class">Govt Womens College Vizag Students</h4>

                    <div id="womenstudents" style="min-height:200px;margin-top:30px;"></div>
                </div>
            </div>
        </div>
        <div class="row staff-container">
            <div class="col-md-6">
                <div class="col-md-12 module-layout">
                    <h4 class="heading-class">Govt Womens College Vizag Staff Statistics</h4>

                    <div id="WomensCollegestaffpie" style="min-height:300px;margin-top:0px;"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 module-layout">
                    <h4 class="heading-class">Govt Womens College Vizag Students Statistics</h4>

                    <div id="WomensCollegestudentspie" style="min-height:300px;margin-top:0px;"></div>
                </div>
            </div>
        </div>
        <div class="row staff-container">
            <div class="col-md-6">
                <div class="col-md-12 module-layout">
                    <h4 class="heading-class">Weekly Staff Statistics</h4>

                    <div id="weelystaffbar" style="min-height:200px;margin-top:0px;"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 module-layout">
                    <h4 class="heading-class">Weekly Students Statistics</h4>

                    <div id="weeklystudentsbar" style="min-height:200px;margin-top:0px;"></div>
                </div>
            </div>
        </div>
    </div>